body {
	background-color:#edf2fc;
}

.panel-primary>.panel-heading, .jumbotron {
	color:white;
	background-color:#7ca1dd;
	
}

.jumbotron {
	border: 1px solid #337ab7;
}

#submit {
	color:white;
	font-weight:bolder;
	background-color:#7ca1dd;
	border: 1px solid #337ab7;
}